/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting background, text color, and font styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background: linear-gradient(45deg, #bebebe, #f2f2f2);
    color: #333;
    padding: 1em 0;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #666;
}

/* Sections */
section {
    padding: 4em 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}

section p {
    font-size: 1.2em;
    margin-bottom: 2em;
    color: #555;
}

ul.choix-multiples {
    list-style-type: none;
}

ul.choix-multiples li {
    margin-bottom: 1em;
}

ul.choix-multiples h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #444;
}

ul.choix-multiples p {
    color: #666;
}

ul.choix-multiples a {
    padding: 8px 16px;
    background-color: #3399ff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

ul.choix-multiples a:hover {
    background-color: #4d88ff;
}

ul.liste-objets {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ul.liste-objets li {
    margin-right: 10px;
    font-size: 1.2em;
    color: #333;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 2em 0;
}

footer p {
    font-size: 1.2em;
    text-align: center;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    section h2 {
        font-size: 1.5em;
    }

    section p {
        font-size: 1em;
    }

    ul.choix-multiples h3 {
        font-size: 1.3em;
    }

    ul.choix-multiples a {
        padding: 6px 12px;
    }

    ul.liste-objets li {
        font-size: 1em;
    }

    footer p {
        font-size: 1em;
    }
}